<h1>About us</h1>

<h4>Nature of problem we hope to address:</h4>

<p style="font-size: 14px">Currently, weather.gov.sg provides a 2 hours forecasting for areas within Singapore. They also provide current weather conditions constantly at 5 minutes intervals through heatmaps. The 2 hours forcast is displayed over general categories of areas in Singapore, which may not be precise for commuters who wish to plan their journey without worrying about the rain. Furthermore, travelling in Singapore often takes less than an hour, thus a 2 hours prediction may not be relevant to most commuters.<br /></p>

<h4>What we hope to achieve:</h4>

<p style="font-size: 14px">Clear Sky hopes to solve this problem using the 5 minutes interval heatmaps to provide a more meaningful/easy to access data for commuters in Singapore.</p>