<p> index page </p>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Main", main_path %></li>
<li><%= link_to "Latest Heatmap", latest_path %></li>
<li><%= link_to "about", about_path%></li>

<p> <%=notice %></p>
