<h1>Current weather</h1>

<h6>updated at <%=@latestTime %></h6>

<div id="map" data-heatmap="<%=@image_path %>"></div>

<div id="display_info">
	<div id="scale">
		<p>Rain Intensity:</p>
		<img src="/assets/rain-intensity.jpg" />
	</div>

	<div id="display_toggle">
		<input type="checkbox" name="toggle" id="route_toggle" checked="checked">
		<label for="route_toggle">Route</label>

		<input type="checkbox" name="toggle" id="heatmap_toggle" checked="checked">
		<label for="heatmap_toggle">Heatmap</label>
	</div>
</div>

<div id="controls">
	<p>Search a location or get directions:</p>
	
	<div id="mode-selector">
	  <input type="radio" name="type" id="changemode-walking" checked="checked">
	  <label for="changemode-walking">Walking</label>

	  <input type="radio" name="type" id="changemode-transit">
	  <label for="changemode-transit">Transit</label>

	  <input type="radio" name="type" id="changemode-driving">
	  <label for="changemode-driving">Driving</label>
	</div>

	<input id="origin-input" type="text" placeholder="Enter an origin location">

	<input id="destination-input" type="text" placeholder="Enter a destination location">
</div>

<div id="direction_result" class="display"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzs7lxzMPK6S-jX5YB2n7Ff3SdMQ2PJIE&libraries=places&callback=initMap">
</script>