<p>Current weather</p>


<p>updated at <%=@latestTime %></p>
<div style='width: 853px;'>
  <div id="map" style='width: 853px; height: 479px;'></div>
</div>
<img src="/assets/overlay.png"/>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzs7lxzMPK6S-jX5YB2n7Ff3SdMQ2PJIE &callback=initMap">
</script>
<img alt=@heatmap_name src="/assets/overlay.png" />