#map {
  width: 853px;
  height: 479px;
}

#controls {
  margin-top: 10px;
  width: 853px;
}

#controls > div,
#controls > input {
  margin: 0 20px 10px 0;
  border: 1px solid transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  border-radius: 2px 2px 2px 2px;
  padding: 5px 11px 0px 11px;
  width: 222px;
}

input[type="radio"] {
  margin-top: -2px;
  vertical-align: middle;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#origin-input,
#destination-input {
  background-color: #fff;
  border-radius: 2px 0 0 2px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 310px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#display_info {
  margin-top: 10px;
  width: 853px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  padding-bottom: 5px;
}

#direction_result {
  width: 853px;
}