<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "Clear_sky", index_path, id: "logo" %>

<nav>
<ul class= "nav navbar-nav navbar-right">
<li><%= link_to "Demo"  ,main_path %> </li>
<li><%= link_to "Latest HeatMap"  , latest_path %> </li>
<li><%= link_to "Past HeatMap"  , past_path %> </li>

</ul>
</nav>
</div>
</header>
